version: '3.3'
services:

    {{ SERVICE_POSTGRES }}:
        environment:
            - POSTGRES_USER={{ DB_USER }}
            - POSTGRES_PASSWORD={{ DB_PASS }}
            - POSTGRES_DB={{ DB_NAME }}
        networks:
            - {{ NETWORK_NAME }}
        volumes:
            - 'pgdata:{{ MOUNT_POINT_POSTGRES }}'
        container_name: {{ CONTAINER_NAME_POSTGRES }}
        image: 'postgres:13'
        ports:
            - '{{ POSTGRES_PORT }}:5432'
    {{ SERVICE_ODOO }}:
        depends_on:
            - {{ SERVICE_POSTGRES }}
        ports:
            - '{{ ODOO_PORT }}:8069'
        container_name: {{ CONTAINER_NAME_ODOO }}
        networks:
            - {{ NETWORK_NAME }}
        volumes:
            - 'odoo-web-data:/var/lib/odoo'
        environment:
            - USER={{ DB_USER }}
            - PASSWORD={{ DB_PASS }}
            - HOST={{ DB_NAME }}
        image: odoo:13

volumes:
    odoo-web-data:
    pgdata:
networks:
    {{ NETWORK_NAME }}:
      driver: bridge
