/*
 * @theme ajc
 * @author Romain REVEL
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
*/

@import 'uncover';



/* */
section.toto {
    font-size: 30px
}

/* */
section::after {
    width: 250px;
    content: 'Slide ' attr(data-marpit-pagination) ' sur ' attr(data-marpit-pagination-total);
}

section * {
    width: 100%;
    text-align: left;
}

section pre {
    white-space: pre-wrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    letter-spacing: 2px;
}

h4 {
    font-size: 1.2em;
    letter-spacing: 2px;
}

h5 {
    font-size: 1em;
    letter-spacing: 1px;
}

h6 {
    font-size: 0.8em;
    letter-spacing: 1px;
}

header,
footer {
    text-align: left;
}

/* Classe pour la table des matières */
section.table_of_content {
    font-size: 0.8em;
    text-align: left;
}

/* section img,a {
    display: inline-block;
    text-align: center;
} */

section > ol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

section > ol li,ol,ul {
    text-align: left;
}